extends ../../layouts/default.pug

block main
  .tyn-content.tyn-content-full-height.tyn-chat.has-aside-base
    .tyn-aside.tyn-aside-base
      .tyn-aside-head
        .tyn-aside-head-text
          h3.tyn-aside-title Chats
        .tyn-aside-head-tools
          ul.link-group.gap.gx-3
            li.dropdown
              button.link(data-bs-toggle='modal' data-bs-target='#newChat')
                // plus
                svg.bi.bi-plus(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4')
                span New
            // li
          // .link-group
        // .tyn-aside-head-tools
      // .tyn-aside-head
      .tyn-aside-body(data-simplebar='')
        //- .tyn-aside-search
          .form-group.tyn-pill
            .form-control-wrap
              .form-control-icon.start
                // search
                svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0')
              input#search.form-control.form-control-solid(type='text' placeholder='Search contact / chat')
        // .tyn-aside-search
        .tab-content
          #all-chats.tab-pane.show.active(tabindex='0' role='tabpanel')
            ul.tyn-aside-list.messages-aside-list
              each contact in contactsAsideList
                if (contact.typeRoom == "single")
                  - var userContact = contact.users[0].user
                  - var lastMessage = contact.lastMessage
                  li.tyn-aside-item.js-toggle-main(class=`${contact._id.toString() == roomChatId ? 'active' : ''} ${contact.unread ? 'unread' : ''}` contact-aside data-room-id=`${contact._id.toString()}` data-user-id=`${userContact._id.toString()}`)
                    .tyn-media-group
                      a.tyn-media.tyn-size-lg(href=`/messages/${contact._id.toString()}`)
                        img(src=userContact.avatar alt='')
                      a.tyn-media-col(href=`/messages/${contact._id.toString()}`)
                        .tyn-media-row
                          h6.name #{userContact.fullName}
                          span.typing.d-none typing ...
                          .indicator.statusOnlineAside(class=`${userContact.statusOnline == 'online' ? 'online' : 'offline'}`)
                            // check-circle-fill
                            //- svg.bi.bi-check-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                              path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z')
                            svg.bi.bi-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                              circle(cx='8' cy='8' r='8')
                        .tyn-media-row.has-dot-sap
                          if (lastMessage)
                            p.content(lastMessage)
                              if (lastMessage.user.toString() == user._id.toString())
                                | You: #{lastMessage.content}
                              else
                                | #{lastMessage.content}
                            span.meta(lastTime data-time=lastMessage.createdAt) #{moment(lastMessage.createdAt).fromNow()}
                            span.meta(seen class=`${contact.seen && !contact.unread && lastMessage.user.toString() == user._id.toString() ? '' : 'd-none'}`) Seen 
                          else 
                            p.content(lastMessage) No messages
                            span.meta(lastTime) N/A
                            span.meta(seen class='d-none') Seen
                      .tyn-media-option.tyn-aside-item-option
                        ul.tyn-media-option-list
                          li.dropdown
                            .btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                              // three-dots
                              svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                            .dropdown-menu.dropdown-menu-end
                              ul.tyn-list-links
                                //- li
                                  a(href='#')
                                    // bell
                                    svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6')
                                    span Mute Notifications
                                li
                                  a(href=`/contacts/profile/${userContact.username}`)
                                    // person
                                    svg.bi.bi-person(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z')
                                    span View Profile
                                li.dropdown-divider
                                li
                                  a(href='#deleteChat' data-bs-toggle='modal' delete-messages data-room-id-delete-messages=`${contact._id.toString()}`)
                                    // trash
                                    svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
                                      path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
                                    span Delete
                  // .tyn-aside-item
              else 
                div.no-chats
                  p.text-center.mt-3.mb-0 No chat found
                  p.text-center.mt-0.mb-0 Select a contact to start a chat
              each contact in contactList
                - var userContact = contact.user
                li.tyn-aside-item.js-toggle-main(contact-aside data-room-id=`${contact.room_chat_id.toString()}` data-user-id=`${userContact._id.toString()}` class=`${contactsAsideList && contactsAsideList.length ? "d-none" : ""}`)
                  .tyn-media-group
                    a.tyn-media.tyn-size-lg(href=`/messages/${contact.room_chat_id.toString()}`)
                      img(src=userContact.avatar alt='')
                    a.tyn-media-col(href=`/messages/${contact.room_chat_id.toString()}`)
                      .tyn-media-row
                        h6.name #{userContact.fullName}
                        .indicator.statusOnlineAside(class=`${userContact.statusOnline == 'online' ? 'online' : 'offline'}`)
                          // check-circle-fill
                          //- svg.bi.bi-check-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z')
                          svg.bi.bi-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            circle(cx='8' cy='8' r='8')
                        span.typing.d-none typing ...
                      .tyn-media-row.has-dot-sap
                        p.content(lastMessage) No messages
                        span.meta(lastTime) N/A
                        span.meta.d-none(seen) Seen 
                    .tyn-media-option.tyn-aside-item-option
                      ul.tyn-media-option-list
                        li.dropdown
                          .btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                            // three-dots
                            svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                              path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                          .dropdown-menu.dropdown-menu-end
                            ul.tyn-list-links
                              li
                                a(href=`/contacts/profile/${userContact.username}`)
                                  // person
                                  svg.bi.bi-person(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z')
                                  span View Profile
                              li.dropdown-divider
                              li
                                a(href='#deleteChat' data-bs-toggle='modal' delete-messages data-room-id-delete-messages=`${contact.room_chat_id.toString()}`)
                                  // trash
                                  svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
                                    path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
                                  span Delete
                // .tyn-aside-item
              else 
                if (!contactsAsideList.length && !contactList.length)
                  div.no-contacts
                    p.text-center.mt-3.mb-0 No contacts found
                    p.text-center.mt-0.mb-0
                      a(href="/contacts") Add new contacts to start chatting
          // .tab-pane
        // .tab-content
      // .tyn-aside-body
    // .tyn-aside
    if (!chats)
      #tynMain.tyn-main.main-shown.aside-collapsed
        .tyn-chat-head
          ul.tyn-list-inline.d-md-none.ms-n1
            li
              button.btn.btn-icon.btn-md.btn-pill.btn-transparent.js-toggle-main
                // arrow-left
                svg.bi.bi-arrow-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8')
          ul.tyn-list-inline.gap.gap-3
            li.align-self-center.text-center
              | Select a chat to view
    else
      #tynMain.tyn-main.tyn-chat-content.main-shown
        .tyn-chat-head
          ul.tyn-list-inline.d-md-none.ms-n1
            li
              button.btn.btn-icon.btn-md.btn-pill.btn-transparent.js-toggle-main
                // arrow-left
                svg.bi.bi-arrow-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8')
          if (roomChat.typeRoom == "single")
            .tyn-media-group
              .tyn-media.tyn-size-lg.d-none.d-sm-inline-flex
                img(src=roomChat.users[0].user.avatar alt='')
              .tyn-media.tyn-size-rg.d-sm-none
                img(src=roomChat.users[0].user.avatar alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name
                    | #{roomChat.users[0].user.fullName}
                .tyn-media-row.has-dot-sap
                  span.meta.statusOnlineChatHead #{roomChat.users[0].user.statusOnline == 'online' ? 'Online' : 'Offline'}
          ul.tyn-list-inline.gap.gap-3.ms-auto
            li
              button.btn.btn-icon.btn-light.js-toggle-chat-options
                // layout-sidebar-inset-reverse
                svg.bi.bi-layout-sidebar-inset-reverse(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M2 2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z')
                  path(d='M13 4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1z')
        // .tyn-chat-head
        #tynChatBody.tyn-chat-body.js-scroll-to-end
          #tynReply.tyn-reply
            - var previousCreatedAt = null
            each chat, index in chats
              if (previousCreatedAt && (moment(previousCreatedAt).diff(moment(chat.messages[0].createdAt), 'minutes') > 10))
                .tyn-reply-separator #{moment(chat.messages[0].createdAt).format('MMMM Do YYYY h:mm A')}
              - previousCreatedAt = chat.messages[0].createdAt
              if (chat.user._id.toString() == user._id)
                .tyn-reply-item.outgoing
                  .tyn-reply-group
                    each message in chat.messages
                      if (message.images.length > 0)
                        .tyn-reply-bubble.flex-wrap
                          .tyn-reply-media
                            each image in message.images
                              a.glightbox.tyn-thumb(href=`${image}` data-gallery='media-photo')
                                img.tyn-image(src=`${image}` alt='')
                        // .tyn-reply-bubble
                      if (message.content.length > 0)
                        .tyn-reply-bubble.flex-wrap
                          .tyn-reply-text.text-break #{message.content}
                        each seenUser in roomChat.users
                          if (seenUser.lastMessageSeen && seenUser.lastMessageSeen.toString() == message._id.toString())
                            .seen.col-12.text-end
                              svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16")
                                path(d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0")
                                path(d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z")
                              | #{seenUser.user.fullName}
                        // .tyn-reply-bubble

                  // .tyn-reply-group
                // .tyn-reply-item
              else
                .tyn-reply-item.incoming
                  .tyn-reply-avatar
                    .tyn-media.tyn-size-md.tyn-circle
                      img(src=chat.user.avatar alt='')
                  .tyn-reply-group
                    .tyn-reply-fullName
                      span.name.fs-6.fw-light
                        | #{chat.user.fullName}
                    each message in chat.messages
                      if (message.images.length > 0)
                        .tyn-reply-bubble.flex-wrap
                          .tyn-reply-media
                            each image in message.images
                              a.glightbox.tyn-thumb(href=`${image}` data-gallery='media-photo')
                                img.tyn-image(src=`${image}` alt='')
                        // .tyn-reply-bubble
                      if (message.content.length > 0)
                        .tyn-reply-bubble.flex-wrap
                          .tyn-reply-text.text-break #{message.content}

                        // tyn-reply-text
                    // .tyn-reply-bubble
                  // .tyn-reply-group
                // .tyn-reply-item

                // .tyn-reply-item     
              if (index == chats.length - 1)
                .tyn-reply-separator #{moment(chat.messages[0].createdAt).format('MMMM Do YYYY h:mm A')}              
            else 
              .tyn-reply-separator Let's start the conversation
              
            //- .tyn-reply-item.incoming
            //-   .tyn-reply-avatar
            //-     .tyn-media.tyn-size-md.tyn-circle
            //-       img(src='/images/avatar/2.jpg' alt='')
            //-   .tyn-reply-group
            //-     .tyn-reply-fullName
            //-       span.name.fs-6.fw-light Jasmine Thompson 
            //-       span.fs-6.fw-light 03:29 PM
            //-     .tyn-reply-bubble
            //-       .tyn-reply-call
            //-         a.tyn-call(href='#')
            //-           .tyn-media-group
            //-             .tyn-media.tyn-size-lg.text-bg-light
            //-               // person-video3
            //-               svg.bi.bi-person-video3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                 path(d='M14 9.5a2 2 0 1 1-4 0 2 2 0 0 1 4 0m-6 5.7c0 .8.8.8.8.8h6.4s.8 0 .8-.8-.8-3.2-4-3.2-4 2.4-4 3.2')
            //-                 path(d='M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h5.243c.122-.326.295-.668.526-1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v7.81c.353.23.656.496.91.783Q16 12.312 16 12V4a2 2 0 0 0-2-2z')
            //-             .tyn-media-col
            //-               h6.name Outgoing Audio Call
            //-               .meta 03:29 PM
            //-       // .tyn-reply-call
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-   // .tyn-reply-group
            //- // .tyn-reply-item
            //- .tyn-reply-item.outgoing
            //-   .tyn-reply-group
            //-     .tyn-reply-bubble
            //-       .tyn-reply-call
            //-         a.tyn-call(href='#')
            //-           .tyn-media-group
            //-             .tyn-media.tyn-size-lg.text-bg-light
            //-               // telephone-forward-fill
            //-               svg.bi.bi-telephone-forward-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                 path(fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708')
            //-             .tyn-media-col
            //-               h6.name Outgoing Audio Call
            //-               .meta 03:29 PM
            //-       // .tyn-reply-call
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-     .tyn-reply-bubble
            //-       .tyn-reply-call
            //-         a.tyn-call(href='#')
            //-           .tyn-media-group
            //-             .tyn-media.tyn-size-lg.text-bg-light
            //-               // telephone-x-fill
            //-               svg.bi.bi-telephone-x-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                 path(fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708')
            //-             .tyn-media-col
            //-               h6.name Missed Audio Call
            //-               .meta 03:29 PM
            //-       // .tyn-reply-call
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-   // .tyn-reply-group
            //- // .tyn-reply-item
            //- .tyn-reply-separator Aug 22, 2022, 3:05 PM
            //- .tyn-reply-item.outgoing
              .tyn-reply-group
                .tyn-reply-bubble
                  .tyn-reply-text  Do you know which App or feature it will require to set up. 
                  // tyn-reply-text
                  ul.tyn-reply-tools
                    li
                      button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
                        // emoji-smile-fill
                        svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                          path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
                    // li
                    li.dropup-center
                      button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
                        // three-dots
                        svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                          path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                      .dropdown-menu.dropdown-menu-xxs
                        ul.tyn-list-links
                          li
                            a(href='#')
                              // pencil-square
                              svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
                              span Edit
                          li
                            a(href='#')
                              // trash
                              svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
                                path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
                              span Delete
                        // .tyn-list-links
                      // .dropdown-menu
                    // li
                  // .tyn-reply-tools
                // .tyn-reply-bubble
              // .tyn-reply-group
            // .tyn-reply-item
            //- .tyn-reply-item.incoming
            //-   .tyn-reply-avatar
            //-     .tyn-media.tyn-size-md.tyn-circle
            //-       img(src='/images/avatar/2.jpg' alt='')
            //-   .tyn-reply-group
            //-     .tyn-reply-bubble
            //-       .tyn-reply-link
            //-         a.tyn-reply-anchor(href='https://www.envato.com/atomic-power-plant-engine/') https://www.envato.com/atomic-power-plant-engine/
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-     .tyn-reply-bubble
            //-       .tyn-reply-text  I hope these article helps. 
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-   // .tyn-reply-group
            //- // .tyn-reply-item
            //- .tyn-reply-separator May 10, 2022, 11:14 AM
            //- .tyn-reply-item.outgoing
            //-   .tyn-reply-group
            //-     .tyn-reply-bubble
            //-       .tyn-reply-media
            //-         a.glightbox.tyn-video(href='https://www.youtube.com/watch?v=ag0qTaAKqT8' data-gallery='media-video')
            //-           img.tyn-image(src='/images/gallery/video/hr-6.jpg' alt='')
            //-           .tyn-video-icon
            //-             // play-fill
            //-             svg.bi.bi-play-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393')
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-   // .tyn-reply-group
            //- // .tyn-reply-item
            //- .tyn-reply-item.incoming
            //-   .tyn-reply-avatar
            //-     .tyn-media.tyn-size-md.tyn-circle
            //-       img(src='/images/avatar/2.jpg' alt='')
            //-   .tyn-reply-group
            //-     .tyn-reply-bubble
            //-       .tyn-reply-media
            //-         a.glightbox.tyn-thumb(href='/images/gallery/chat/1.jpg' data-gallery='media-photo')
            //-           img.tyn-image(src='/images/gallery/chat/thumb-1.jpg' alt='')
            //-         a.glightbox.tyn-thumb(href='/images/gallery/chat/2.jpg' data-gallery='media-photo')
            //-           img.tyn-image(src='/images/gallery/chat/thumb-2.jpg' alt='')
            //-         a.glightbox.tyn-thumb(href='/images/gallery/chat/3.jpg' data-gallery='media-photo')
            //-           img.tyn-image(src='/images/gallery/chat/thumb-3.jpg' alt='')
            //-         a.glightbox.tyn-thumb(href='/images/gallery/chat/4.jpg' data-gallery='media-photo')
            //-           img.tyn-image(src='/images/gallery/chat/thumb-4.jpg' alt='')
            //-         a.glightbox.tyn-thumb(href='/images/gallery/chat/5.jpg' data-gallery='media-photo')
            //-           img.tyn-image(src='/images/gallery/chat/thumb-5.jpg' alt='')
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-     .tyn-reply-bubble
            //-       .tyn-reply-text  I hope these article helps. 
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-   // .tyn-reply-group
            //- // .tyn-reply-item
            //- .tyn-reply-item.outgoing
            //-   .tyn-reply-group
            //-     .tyn-reply-bubble
            //-       .tyn-reply-link.has-thumb
            //-         .tyn-reply-link-thumb
            //-           a(href='#')
            //-             h6.tyn-reply-link-title Digital Marketing Guide line for dummies
            //-             img(src='/images/avatar/4.jpg' alt='')
            //-         a.tyn-reply-anchor(href='https://www.envato.com/atomic-power-plant-engine/') https://www.envato.com/atomic-power-plant-engine/
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-     .tyn-reply-bubble
            //-       .tyn-reply-text  I need help. 
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-     .tyn-reply-bubble
            //-       .tyn-reply-file
            //-         a.tyn-file(href='#')
            //-           .tyn-media-group
            //-             .tyn-media.tyn-size-lg.text-bg-light
            //-               // filetype-docx
            //-               svg.bi.bi-filetype-docx(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                 path(fill-rule='evenodd' d='M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zm-6.839 9.688v-.522a1.5 1.5 0 0 0-.117-.641.86.86 0 0 0-.322-.387.86.86 0 0 0-.469-.129.87.87 0 0 0-.471.13.87.87 0 0 0-.32.386 1.5 1.5 0 0 0-.117.641v.522q0 .384.117.641a.87.87 0 0 0 .32.387.9.9 0 0 0 .471.126.9.9 0 0 0 .469-.126.86.86 0 0 0 .322-.386 1.55 1.55 0 0 0 .117-.642m.803-.516v.513q0 .563-.205.973a1.47 1.47 0 0 1-.589.627q-.381.216-.917.216a1.86 1.86 0 0 1-.92-.216 1.46 1.46 0 0 1-.589-.627 2.15 2.15 0 0 1-.205-.973v-.513q0-.569.205-.975.205-.411.59-.627.386-.22.92-.22.535 0 .916.22.383.219.59.63.204.406.204.972M1 15.925v-3.999h1.459q.609 0 1.005.235.396.233.589.68.196.445.196 1.074 0 .634-.196 1.084-.197.451-.595.689-.396.237-.999.237zm1.354-3.354H1.79v2.707h.563q.277 0 .483-.082a.8.8 0 0 0 .334-.252q.132-.17.196-.422a2.3 2.3 0 0 0 .068-.592q0-.45-.118-.753a.9.9 0 0 0-.354-.454q-.237-.152-.61-.152Zm6.756 1.116q0-.373.103-.633a.87.87 0 0 1 .301-.398.8.8 0 0 1 .475-.138q.225 0 .398.097a.7.7 0 0 1 .273.26.85.85 0 0 1 .12.381h.765v-.073a1.33 1.33 0 0 0-.466-.964 1.4 1.4 0 0 0-.49-.272 1.8 1.8 0 0 0-.606-.097q-.534 0-.911.223-.375.222-.571.633-.197.41-.197.978v.498q0 .568.194.976.195.406.571.627.375.216.914.216.44 0 .785-.164t.551-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.765a.8.8 0 0 1-.117.364.7.7 0 0 1-.273.248.9.9 0 0 1-.401.088.85.85 0 0 1-.478-.131.83.83 0 0 1-.298-.393 1.7 1.7 0 0 1-.103-.627zm5.092-1.76h.894l-1.275 2.006 1.254 1.992h-.908l-.85-1.415h-.035l-.852 1.415h-.862l1.24-2.015-1.228-1.984h.932l.832 1.439h.035z')
            //-             .tyn-media-col
            //-               h6.name Konstantin_cv.docx
            //-               .meta 24.65 MB
            //-       ul.tyn-reply-tools
            //-         li
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill
            //-             // emoji-smile-fill
            //-             svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
            //-         // li
            //-         li.dropup-center
            //-           button.btn.btn-icon.btn-sm.btn-transparent.btn-pill(data-bs-toggle='dropdown')
            //-             // three-dots
            //-             svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-               path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
            //-           .dropdown-menu.dropdown-menu-xxs
            //-             ul.tyn-list-links
            //-               li
            //-                 a(href='#')
            //-                   // pencil-square
            //-                   svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
            //-                     path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
            //-                   span Edit
            //-               li
            //-                 a(href='#')
            //-                   // trash
            //-                   svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            //-                     path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z')
            //-                     path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z')
            //-                   span Delete
            //-             // .tyn-list-links
            //-           // .dropdown-menu
            //-         // li
            //-       // .tyn-reply-tools
            //-     // .tyn-reply-bubble
            //-   // .tyn-reply-group
            //- // .tyn-reply-item
          // .tyn-reply
        // .tyn-chat-body
        .tyn-chat-form.flex-wrap
          .preview-images-upload.col-12
            .custom-file-container(data-upload-id='upload-image')
          .tyn-chat-form-insert
            ul.tyn-list-inline.gap.gap-3
              li.d-none.d-sm-block
                label.btn.btn-icon.btn-light.btn-md.btn-pill(for="file-upload-with-preview-upload-image")
                  // card-image
                  svg.bi.bi-card-image(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0')
                    path(d='M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54L1 12.5v-9a.5.5 0 0 1 .5-.5z')
              li.d-none.d-sm-block
                button.btn.btn-icon.btn-light.btn-md.btn-pill.button-emoji-picker
                  // emoji-smile-fill
                  svg.bi.bi-emoji-smile-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8')
          .tyn-chat-form-enter
            textarea#tynChatInput.tyn-chat-form-input(type='text' placeholder='Type a message...' rows='1')
            ul.tyn-list-inline.me-n2.my-1
              li
                button#tynChatSend.btn.btn-icon.btn-white.btn-md.btn-pill
                  // send-fill
                  svg.bi.bi-send-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z')
        // .tyn-chat-form
        if (roomChat.typeRoom == "single")
          - var contact = roomChat.users[0].user
          #tynChatAside.tyn-chat-content-aside(data-simplebar='')
            .tyn-chat-cover
              img(src=`${contact.cover ? contact.cover : "/images/cover/1.jpg"}` alt='')
            .tyn-media-group.tyn-media-vr.tyn-media-center.mt-n4
              .tyn-media.tyn-size-xl.border.border-2.border-white
                img(src=contact.avatar alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name #{contact.fullName}
                .tyn-media-row.has-dot-sap
                  span.meta Active Now
            .tyn-aside-row
              ul.nav.nav-btns.nav-btns-stretch.nav-btns-light
                li.nav-item
                  button.nav-link.active(data-bs-toggle='tab' data-bs-target='#profile-about' type='button')  About 
                //- li.nav-item
                  button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-contacts' type='button')  Mutual Contacts 
                //- li.nav-item
                  button.nav-link.active(data-bs-toggle='tab' data-bs-target='#chat-options' type='button')
                    // sliders
                    svg.bi.bi-sliders(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(fill-rule='evenodd' d='M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z')
                    span Options
            .tab-content
              #profile-about.tab-pane.tyn-aside-row.py-0.show.active(tabindex='0')
                .row.gy-4
                  .col-xl-5
                    .tyn-profile-bio
                      h5 About 
                        | #{contact.fullName}
                      p
                        | #{contact.bio}
                    ul.tyn-list-inline.gap.gap-3.ms-auto
                      li
                        a.btn.btn-icon.btn-light(href='#')
                          // facebook
                          svg.bi.bi-facebook(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951')
                      li
                        a.btn.btn-icon.btn-light(href='#')
                          // twitter
                          svg.bi.bi-twitter(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15')
                      li
                        a.btn.btn-icon.btn-light(href='#')
                          // instagram
                          svg.bi.bi-instagram(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334')
                      li
                        a.btn.btn-icon.btn-light(href='#')
                          // tiktok
                          svg.bi.bi-tiktok(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z')
                    // .tyn-list-inline
                  // .col
                  .col-12
                    h5 Basic Info
                    ul.d-flex.gap.gx-5.flex-wrap
                      li
                        .vstack
                          .mb-2
                            // telephone-fill
                            svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M5.29947 2.89287C5.60567 2.58711 5.97334 2.34992 6.37813 2.19702C6.78292 2.04412 7.21558 1.979 7.64744 2.00597C8.0793 2.03294 8.5005 2.15139 8.88312 2.35347C9.26574 2.55555 9.60105 2.83665 9.86683 3.17813L13.008 7.21382C13.5837 7.9541 13.7867 8.9184 13.5592 9.82844L12.602 13.6611C12.5525 13.8596 12.5552 14.0676 12.6098 14.2647C12.6643 14.4619 12.769 14.6416 12.9135 14.7864L17.2131 19.0864C17.3581 19.2312 17.5381 19.336 17.7355 19.3906C17.933 19.4452 18.1413 19.4477 18.3401 19.3979L22.1707 18.4406C22.6198 18.3283 23.0885 18.3196 23.5414 18.4151C23.9943 18.5106 24.4196 18.7078 24.7851 18.9919L28.8205 22.1315C30.2712 23.2603 30.4042 25.4042 29.1057 26.701L27.2963 28.5105C26.0013 29.8056 24.0659 30.3744 22.2617 29.7391C17.6439 28.1142 13.4512 25.4704 9.99457 22.0037C6.52844 18.5474 3.88483 14.3549 2.25982 9.73743C1.62634 7.93485 2.19507 5.99751 3.49003 4.70245L5.29947 2.89287Z' fill='#64748B')
                          span.tyn-subtext Phone No
                          h5
                            | #{contact.phone ? contact.phone : 'N/A'}
                      // li
                      li
                        .vstack
                          .mb-2
                            // envelope-fill
                            svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(d='M2.0875 8.72125C2.26393 7.94818 2.69765 7.25792 3.31761 6.76354C3.93758 6.26916 4.70705 5.99995 5.5 6H26.5C27.293 5.99995 28.0624 6.26916 28.6824 6.76354C29.3024 7.25792 29.7361 7.94818 29.9125 8.72125L16 17.2245L2.0875 8.72125ZM2 10.7197V23.1517L12.1552 16.9253L2 10.7197ZM13.8317 17.9525L2.33425 24.9998C2.61832 25.5987 3.06667 26.1047 3.62712 26.4589C4.18756 26.813 4.83706 27.0006 5.5 27H26.5C27.1628 27.0001 27.8121 26.8121 28.3722 26.4577C28.9323 26.1032 29.3803 25.5971 29.664 24.998L18.1665 17.9508L16 19.2755L13.8317 17.9508V17.9525ZM19.8447 16.927L30 23.1517V10.7197L19.8447 16.9253V16.927Z' fill='#64748B')
                          span.tyn-subtext Emails
                          h5 
                            | #{contact.email ? contact.email : 'N/A'}
                      // li
                    // ul
                  // .col
                // .row
              // .tab-pane
          // .tyn-chat-content-aside

      // .tyn-chat-content
  #newChat.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-centered.modal-sm
      .modal-content.border-0
        .modal-body.p-4
          h4.pb-2 Search by Name
          .form-group
            .form-control-wrap
              .form-control-icon.start
                // search
                svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0')
              input#search-contact.form-control.form-control-solid(type='text' placeholder='Search contact')
          ul.tyn-media-list.pt-4
            each contact in contactList
              - var userContact = contact.user
              li
                a.tyn-media-group(href=`/messages/${contact.room_chat_id}`)
                  .tyn-media
                    img(src=userContact.avatar alt='')
                  .tyn-media-col
                    .tyn-media-row
                      h6.name #{userContact.fullName}
                    .tyn-media-row
                      p.content @#{userContact.username}
                // .tyn-media-group
              // li
          // .tyn-media-list
        // .modal-body
        button.btn.btn-md.btn-icon.btn-pill.btn-white.shadow.position-absolute.top-0.end-0.mt-n3.me-n3(data-bs-dismiss='modal')
          // x-lg
          svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
      // .modal-content
    // .modal-dialog
  // .modal
  form#deleteChat.modal.fade(tabindex='-1' method='POST')
    .modal-dialog.modal-dialog-centered.modal-sm
      .modal-content.border-0
        .modal-body
          .py-4.px-4.text-center
            h3 Delete chat
            p.small Once you delete your copy of this conversation, it cannot be undone.
            ul.tyn-list-inline.gap.gap-3.pt-1.justify-content-center
              li
                button.btn.btn-danger(type="submit" data-bs-dismiss='modal' btn-confirm) Delete
              li
                button.btn.btn-light(data-bs-dismiss='modal' btn-cancel) No
        // .modal-body
        button.btn.btn-md.btn-icon.btn-pill.btn-white.shadow.position-absolute.top-0.end-0.mt-n3.me-n3(data-bs-dismiss='modal')
          // x-lg
          svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
      // .modal-content
    // .modal-dialog
  // .modal
  div(class="emoji-container")
  div(class="tooltip" role="tooltip")
    emoji-picker(class="light")
block script
  script(roomChatId=roomChatId).
    window.roomChatId = document.currentScript.getAttribute('roomChatId');
  script(type="module" src="/assets/js/messages.js") 