extends ../../layouts/default.pug

block main
  .tyn-content.tyn-content-page
    #tynMain.tyn-main.tyn-content-inner
      .container
        .tyn-profile
          .tyn-profile-head
            .tyn-profile-cover.position-relative
              img.tyn-profile-cover-image(src=`${user.cover ? user.cover : '/images/cover/2.jpg'}` alt='')
              .overplay.d-flex.align-items-center.justify-content-center.update-image-trigger(data-target-input='#cover')
                i.fas.fa-pencil-alt
            .tyn-profile-info
              .tyn-media-group.align-items-start
                .tyn-media.tyn-media-bordered.tyn-size-4xl.tyn-profile-avatar.position-relative
                  img(src=user.avatar alt='')
                  .overplay.d-flex.align-items-center.justify-content-center.update-image-trigger(data-target-input='#avatar')
                    i.fas.fa-pencil-alt
                .tyn-media-col
                  .tyn-media-row
                    h4.name
                      | #{user.fullName}
                      span.username @
                        | #{user.username}
                  .tyn-media-row.has-dot-sap
                    span.content 
                      | #{user.contactList.length} Contacts
                    span.meta #{user.groups.length} Groups
                  
                  each contact in user.contactList
                    .tyn-media-row.pt-2
                      .tyn-media.tyn-circle.tyn-size-md.tyn-media-bordered
                        img(src=`${contact.user.avatar}` alt=contact.user.fullName)
          // .tyn-profile-head
          .tyn-profile-nav
            ul.nav.nav-tabs.nav-tabs-line
              li.nav-item
                button.nav-link.active(data-bs-toggle='tab' data-bs-target='#profile-edit' type='button')  Edit Profile 
              li.nav-item
                button.nav-link(data-bs-toggle='tab' data-bs-target='#change-password' type='button')  Change Password
              li.nav-item
                button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-settings' type='button')  Profile Settings
          // .tyn-profile-nav
          .tyn-profile-details
            .tab-content
              form#profile-edit.tab-pane.show.active(tabindex='0' action='/user/profile/edit?_method=PATCH' method='POST' enctype='multipart/form-data')
                .row.gy-5
                  // input avatar, cover
                  input#avatar.form-control.d-none(name="avatar" type='file' accept='image/*')
                  input#cover.form-control.d-none(name="cover" type='file' accept='image/*')
                  // .col-12
                  .col-12
                    .row.gy-4
                      .col-lg-3
                        h6 Bio
                        .tyn-subtext Edit Your personal Info
                      .col-lg-9
                        .row.gy-4.justify-content-end
                          .col-12
                            .form-group
                              label.form-label(for='bio') Bio
                              .form-control-wrap
                                textarea#bio.form-control(name="bio" placeholder='Your Bio' rows='4') #{user.bio}
                  .col-12
                    .row.gy-4
                      .col-lg-3
                        h6 Personal Information
                        .tyn-subtext Edit Your personal Info
                      .col-lg-9
                        .row.g-gs
                          .col-lg-6
                            .form-group
                              label.form-label(for='firstName') Full Name
                                span.text-danger *
                              .form-control-wrap
                                input#fullName.form-control(name="fullName" type='text' placeholder='Your Full Name' value=user.fullName required)
                          // .col
                          .col-lg-6
                            .form-group
                              label.form-label(for='username') Username
                              .form-control-wrap.input-group
                                span.input-group-text @
                                input#username.form-control(type='text' placeholder='' value=user.username disabled)
                          // .col
                          .col-12
                            .form-group
                              label.form-label.d-flex(for='email')
                                | Email 
                                span.text-danger *
                                if (user.verified)
                                  span.small.ms-2.text-success Verified
                                else 
                                  span.small.ms-2.text-danger Not Verified
                                a.link.link-primary.ms-auto(href='#') Verify
                              .form-control-wrap
                                input#email.form-control(name="email" required type='email' placeholder='Email' value=user.email)
                                if (!user.verified)
                                  .tyn-subtext.mt-2 You should verify your email address to secure your account.
                          // .col
                          .col-lg-6
                            .form-group
                              label.form-label(for='gender') Gender
                              .form-control-wrap
                                select#gender.form-select(name="gender")
                                  option(value="") Your gender is...
                                  option(value="male" selected = (user.gender == "male")) Male
                                  option(value="female" selected = (user.gender == "female")) Female
                                  option(value="other" selected = (user.gender == "other")) Other
                          // .col
                          .col-lg-6
                            .form-group
                              label.form-label(for='phone') Phone Number
                              .form-control-wrap
                                input#phone.form-control(name="phone" type='text' placeholder='Your Number' value=`${user.phone ? user.phone : ''}`)
                          // .col
                          .col-12.text-end
                            button.btn.btn-sm.btn-primary(type='submit') Save Changes

                          // .col
                        // .row
                      // .col
                    // .row
                  // .col
                  //- .col-12
                    .row.gy-4
                      .col-lg-3
                        h6 Sign-in Method
                        .tyn-subtext Edit Your personal Info
                      .col-lg-9
                        .row.g-gs
                          .col-12
                            .border.rounded-2.p-3.position-relative
                              .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center.w-100.pe-5
                                .tyn-media-group.mw-100
                                  .tyn-media.text-bg-danger
                                    // google
                                    svg.bi.bi-google(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z')
                                  .tyn-media-col
                                    h6.name Google Account
                                    span.content Your google account is connected.
                                .position-absolute.end-0.me-3
                                  .form-check.form-check-reverse.form-switch
                                    input#googleAccount.form-check-input(checked='' type='checkbox' role='switch')
                            // .border
                          // .col
                          .col-12
                            .border.rounded-2.p-3
                              .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center
                                .tyn-media-group.w-100
                                  .tyn-media.text-bg-primary
                                    // facebook
                                    svg.bi.bi-facebook(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951')
                                  .tyn-media-col
                                    h6.name Facebook Account
                                    span.content You can connect with your facebook account.
                                .ms-5.mt-3.mt-sm-0.ms-sm-0
                                  button.btn.btn-sm.btn-primary.ms-2 Connect
                            // .border
                          // .col
                        // .row
                      // .col
                    // .row
                  // .col
                // .row
              form#change-password.tab-pane(tabindex='0' action='/auth/change-password?_method=PATCH' method='POST')
                .row.gy-5
                  .col-12
                    .row.gy-4
                      .col-lg-3
                        h6 Change Password
                        .tyn-subtext Edit Your personal Info
                      .col-lg-9
                        .row.g-gs
                          .col-lg-12
                            .form-group
                              label.form-label(for='oldPassword') Old Password
                              .form-control-wrap
                                input#oldPassword.form-control(name="oldPassword" type='password' placeholder='Old Password' required)
                          // .col
                          .col-lg-12
                            .form-group
                              label.form-label(for='newPassword') New Password
                              .form-control-wrap
                                input#newPassword.form-control(name="newPassword" type='password' placeholder='New Password' required)
                          // .col
                          .col-lg-12
                            .form-group
                              label.form-label(for='confirmPassword') Confirm Password
                              .form-control-wrap
                                input#confirmPassword.form-control(name="confirmPassword" type='password' placeholder='Confirm Password' required)
                          // .col
                          .col-12.text-end
                            button.btn.btn-sm.btn-primary(type='submit') Change Password
                          // .col
                        // .row
                      // .col
                    // .row
                  // .col
                // .row
              // .tab-pane
              #profile-settings.tab-pane(tabindex='0')
                .row.gy-5
                  .col-12
                    .row.gy-4
                      .col-lg-3
                        h6 Sign-in Method
                        .tyn-subtext Edit Your personal Info
                      .col-lg-9
                        .row.g-gs
                          .col-12
                            .border.rounded-2.p-3.position-relative
                              .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center.w-100.pe-5
                                .tyn-media-group.mw-100
                                  .tyn-media.text-bg-danger
                                    // google
                                    svg.bi.bi-google(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z')
                                  .tyn-media-col
                                    h6.name Google Account
                                    span.content Your google account is connected.
                                .position-absolute.end-0.me-3
                                  .form-check.form-check-reverse.form-switch
                                    input#googleAccount.form-check-input(checked='' type='checkbox' role='switch')
                            // .border
                          // .col
                          .col-12
                            .border.rounded-2.p-3
                              .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center
                                .tyn-media-group.w-100
                                  .tyn-media.text-bg-primary
                                    // facebook
                                    svg.bi.bi-facebook(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                      path(d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951')
                                  .tyn-media-col
                                    h6.name Facebook Account
                                    span.content You can connect with your facebook account.
                                .ms-5.mt-3.mt-sm-0.ms-sm-0
                                  button.btn.btn-sm.btn-primary.ms-2 Connect
                            // .border
                          // .col
                        // .row
                      // .col
                    // .row
                  // .col
                // .row
            // .tab-content

          // .tyn-profile-details
        // .tyn-profile
      // .container
    // .tyn-main
